@charset "utf-8";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// First import Bootstrap functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$header-image: "./img/1.jpg";
$contact-image: "./img/contact.png";

$primary: #00ACC8;
$white: rgb(255, 255, 255);
$black: #000;

// Calculate derived variables that use Bootstrap variables
$input-height: calc(#{$input-height-inner} + #{$input-height-border});
// Then import the rest of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

$spacer:1rem;
$border-width:3px;
$border-radius:0;
$enable-rounded: false;
$enable-shadows:true;
$enable-gradients:false;

@import "bootstrap/scss/bootstrap";
@import "bootstrap";

@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/page.scss";

@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

@import "layout/calculators.scss";
@import "layout/clients.scss";
@import "layout/contact.scss";
@import "layout/expert";
@import "layout/footer.scss";
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/team.scss";
@import "layout/testimonials";
@import "layout/textblock.scss";




body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    webkit-tap-highlight-color: $primary;
}

.bg-newgray {
    background-color: #f0f0f0;
}

.post {
    max-width: 750px;
    margin-top: 150px;
}

