

// Button styling
.btn {
  font-family: 'Roboto', sans-serif; // Example font family
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  margin: 8px;
  transition: all 0.3s ease;
}

.btn-xl {
  font-size: 18px;
  padding: 16px 32px;
}

.btn-primary {
  background-color: #BA9A49;
  color: $primary;
  
  &:hover {
    background-color: darken($primary, 20%);
  }

  &:active {
    transform: scale(0.95);
    background-color: $primary;
    color: #BA9A49;
  }
}

.btn-outline-primary {
  background-color: $white;
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    border: 2px solid $primary;
    color: $white;
  }

  &:active {
    transform: scale(0.95);
  }
}
