#mainNav {
  background-color: $gray-100;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;

  .navbar-toggler {
    font-size: 15px;
    padding: 8px 12px;
    color: white;
    border: none;
    background-color: $primary;
    @include heading-font;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  .navbar-brand {
    color: $primary;
    @include script-font;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:hover {
      color: darken($primary, 10%);
    }
    > img {
      height: 90px;
      max-width: 100%;
    }
  }

  .navbar-nav {
    display: flex;
    gap: 0.5rem;
    .nav-item {
      .nav-link {
        font-size: 14px;
        padding: 0.5rem 1rem;
        color: BA9A49;
        @include heading-font;
        &:hover,
        &.active {
          color: #ffe44d;
        }
      }
    }
  }

  // Mobile breakpoint (below 992px)
  @media (max-width: 1200px) {
    .navbar-nav {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      //background-color: $gray-100;
      width: 100%;
      .nav-item {
        width: 100%;
        text-align: center;
        .nav-link {
          padding: 0.5rem 1rem;
          display: block;
        }
      }
    }
  }

  // Desktop breakpoint (992px and up)
  @media (min-width: 1100) {
    padding: 0.5rem 2rem;
    .navbar-brand {
      font-size: 2rem;
    }
    &.navbar-shrink {
      .navbar-brand {
        font-size: 1.5rem;
      }
    }
  }
}
