<!-- More Calculators -->
<section class="calculators" id="{{ site.data.sitetext.more-calculators.section | default: 'calculators2' }}">
  <div class="container">
    <h1 class="main-title">{{ site.data.sitetext.more-calculators.title | default: "MORE CALCULATORS" }}</h1>
    {% if site.data.sitetext.more-calculators.text %}
      <p class="subtitle">{{ site.data.sitetext.more-calculators.text }}</p>
    {% endif %}
    
    <div class="calculators-grid">
      {% for service in site.data.sitetext.more-calculators.list %}
        <div class="calculators-card">
          <div class="calculators-icon">
            <i class="{{ service.icon | default: 'fas fa-shopping-cart' }}"></i>
          </div>
          <h4 class="calculators-title">{{ service.title | markdownify }}</h4>
          {% if service.desc %}
            <p class="calculators-desc">{{ service.desc | markdownify }}</p>
          {% endif %}
          {% if service.link %}
            <div class="calculators-footer">
              <a href="{{ service.link.url }}" class="btn btn-xl shadow" role="button">
                {{ service.link.text }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End More Calculators -->