<!-- Clients -->
<section class="bg-white page-section py-5" id="{{ site.data.sitetext.clients.section | default: 'clients' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.clients.title }}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-around" {% if site.data.sitetext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>
      {% for client in site.data.sitetext.clients.list %}
      <div class="col-md-3 col-sm-6" style="height: 100px;">
        <a href="{{ client.url }}" class="h-100">
          <img class="img-fluid d-block mx-auto align-self-center" src="{{ client.logo }}" alt="{{ client.title }}" 
               style="max-height: {{ site.data.sitetext.clients.max-height | default: "100px" }}; margin: 0 auto;">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>