<head>
{% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
		gtag('config', '{{ site.analytics.google }}');
  </script>
<!-- End Google Analytics -->

{% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ site.author }}">

  {% seo %}

  {% include structured-data.html %}

  <link rel="icon" href="{{ site.baseurl | prepend: site.url }}/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{ site.baseurl | append: "/assets/bundle.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" type="text/css">

  <script src="{{ site.baseurl | append: "/assets/bundle.js" | relative_url }}" defer></script>
  <script>var baseurl = "{{ "" | relative_url }}";</script>

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {padding-top: 150px;}
	@media only screen and (max-width: 991px) {
	  #pagecontainer {padding-top: 100px;}
	}
  </style>
  {% endif %}
  
</head>
