<!-- Services -->
  <section class="page-section py-5" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.services.title | default: "Services We Offer" }}</h2>

          {% if site.data.sitetext.services.text %}
          
		  <p class="section-subheading text-muted">{{ site.data.sitetext.services.text }}</p>
		  {% endif %}
        </div>
      </div>
	  
      <div class="services-container">
        {% for service in site.data.sitetext.services.list %}
        <div class="service-card">
          <div class="service-icon">
            <i class="{{ service.icon | default: 'fas fa-star' }}"></i>
          </div>
          <h4 class="card-title service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}
          <div class="service-description">{{ service.desc | markdownify }}</div>
          {% endif %}
          {% if service.link %}
          <div class="card-footer text-center">
            <a href="{{ service.link.url }}" class="btn btn-xl text-uppercase shadow" >{{ service.link.text }}</a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Services -->