@use '../base/variables' as *;
@use '../base/mixins' as *;

// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;

  .section-heading {
    color: $white;
  }

  .contact-actions {
    a {
      color: $white;
      font-weight: $font-weight-black;
    }

    p {
      color: $white;
      margin-bottom: 0.5rem;
    }
  }
}

.contact-us p {
  margin-bottom: 0.25em;
}
