// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }

  .contact-actions {
    a {
      color: $white;
      font-weight: 700;
    }

    p {
      color: $white;
      margin-bottom: .5rem;
    }
  }
}

.contact-us p {
  margin-bottom: .25em;
}
